version: '3.9'
services:

  web:
    build: ./web
    image: webapi-web:latest
    ports:
      - 80:8080
    depends_on:
      api:
        condition: service_healthy

  api:
    build: ./api
    image: webapi-api:latest
    ports:
      - 8080:8080
    healthcheck:
      test: [ "CMD-SHELL", "curl -fsS http://api:8080/actuator/health || exit 1" ]
      interval: 5s
      timeout: 3s
      retries: 10
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15
    ports:
      - 5432:5432
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d TESTDB" ]
      interval: 5s
      timeout: 3s
      retries: 5
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user
      POSTGRES_DB: TESTDB
    volumes:
      - db-storage:/var/lib/postgresql/data
      - ./db/initdb:/docker-entrypoint-initdb.d
volumes:
  db-storage:
